.wrapper{color:darkslategrey ;
font-family: Georgia,'Times New Roman', Times, serif;
font-style: italic;}


#members{font-family: Arial, Helvetica, sans-serif;
font-style: italic;
color:blue;
}

#header{
    background-color:darkgrey;
    background-size:contain;
    text-align: center;
}

body{
    background: url(./background.png) center no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

#bandbio{
    color:darkslategrey;
}

#songs{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#genres{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}







